@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2><center>Error de acceso</center></h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p><div class="alert alert-warning"><b><center>No está autorizado a ingresar</center></b></div></p><br />
        <center><button class="btn btn-orange" onclick="AbrirEnlace('@Url.Action("Index", "Home")')"><span><i class="fa fa-arrow-left"></i></span>&nbsp;Volver a inicio</button></center>
    </div>
    <div class="col-md-4"></div>
</div>

<script>
    function AbrirEnlace(enlace) {
        window.location.href = enlace;
    }
</script>