@model AgroWebPro.Web.Models.EmpresaModels
@{
    ViewBag.Title = "Mantenimiento de empresa";
}

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

<h2>Mantenimiento de empleados</h2>

<div class="form-group">
    <select id="dllZonaHoraria">
        @if (Model.listaZonasHorarias != null && Model.listaZonasHorarias.Count() > 0)
        {
            foreach (var item in Model.listaZonasHorarias)
            {
                <option value="@item.idZonaHoraria">@item.zonaHoraria</option>
            }
        }
    </select>
    <div class="panel-group" style="display:none;">
        <div class="panel panel-warning">
            <div class="panel-heading"><h3 style="margin:0px;">Datos de la empresa</h3></div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="txtNombreEmpresa">Nombre empresa</label>

                    <div class="input-group">
                        <span id="txtNombreEmpresaPrepend" class="input-group-addon">icon</span>
                        <input id="txtNombreEmpresa" name="txtNombreEmpresa" class="form-control" placeholder="Ingrese el nombre de la empresa" required="" type="text">

                    </div>


                </div>


                <div class="form-group">
                    <label class="control-label" for="txtDescripcion">Descripción</label>

                    <div class="input-group">
                        <span id="txtDescripcionPrepend" class="input-group-addon">icon</span>
                        <input id="txtDescripcion" name="txtDescripcion" class="form-control" placeholder="Descripción de la empresa" type="text">

                    </div>


                </div>

                <div class="form-group">
                    <label class="control-label" for="ddlZonaHoraria">Zona horaria</label>
                    <select id="ddlZonaHoraria" class="form-control">
                        <option>- Seleccione -</option>
                        @if (Model.listaZonasHorarias != null && Model.listaZonasHorarias.Count() > 0)
                        {
                            foreach (var item in Model.listaZonasHorarias)
                            {
                                <option value="@item.idZonaHoraria">@item.zonaHoraria</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="txtTelefono">Teléfono</label>

                    <div class="input-group">
                        <span id="txtTelefonoPrepend" class="input-group-addon">icon</span>
                        <input id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Ingrese el teléfono de la empresa" type="text">

                    </div>


                </div>


                <div class="form-group">
                    <label class="control-label" for="txtCedulaJuridica">Cédula Jurídica</label>

                    <div class="input-group">
                        <span id="txtCedulaJuridicaPrepend" class="input-group-addon">icon</span>
                        <input id="txtCedulaJuridica" name="txtCedulaJuridica" class="form-control" placeholder="Ingrese la cédula jurídica" type="text">

                    </div>


                </div>


                <div class="form-group">
                    <label class="control-label" for="txtDireccionEmpresa">Dirección empresa</label>

                    <div class="input-group">
                        <span id="txtDireccionEmpresaPrepend" class="input-group-addon">icon</span>
                        <input id="txtDireccionEmpresa" name="txtDireccionEmpresa" class="form-control" placeholder="Ingrese la dirección de la empresa" type="text">

                    </div>


                </div>

                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="text-right">
                        <div id="btnCancelarGroup" class="btn-group" role="group" aria-label="">
                            <button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-danger" aria-label="Cancelar">Cancelar</button>
                            <button type="submit" id="btnGuardar" name="btnGuardar" class="btn btn-warning" aria-label="Cancelar">Guardar</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Puesto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Agustín Omar</td>
            <td>Castillo Picado</td>
            <td>agustin.castillo@regionalsoft.com</td>
            <td>Puesto 1</td>
            <td><button class="btn btn-danger" onclick="EliminarUsuario()"><span class="fa fa-trash"></span> </button>&nbsp;<button class="btn btn-primary" onclick="EditarUsuario()"><span class="fa fa-pencil"></span> </button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>María Fernanda</td>
            <td>Sanchez Gamboa</td>
            <td>maria.sanchezg@gmail.com</td>
            <td>Puesto 1</td>
            <td><button class="btn btn-danger" onclick="EliminarUsuario()"><span class="fa fa-trash"></span> </button>&nbsp;<button class="btn btn-primary" onclick="EditarUsuario()"><span class="fa fa-pencil"></span> </button></td>
        </tr>
    </tbody>
</table>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    $('#txtFechaNacimiento').datepicker({

        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        todayHighlight: true,
        todayBtn: "linked",
        onSelect: function (date) {
        }
    }).on('changeDate', function (e) {
        $(this).datepicker('hide');
        });

    function EliminarUsuario() {
        swal({
            title: "Borrar usuario",
            text: "Esta acción eliminará al usuario",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("El usuario ha sido eliminado correctamente", {
                        icon: "success",
                    });
                }
            });
    }
</script>
