<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>


  <connectionStrings>
    <add name="AgroWebProEntities" connectionString="metadata=res://*/ModelAgroWebPro.csdl|res://*/ModelAgroWebPro.ssdl|res://*/ModelAgroWebPro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AgroWebPro;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="AgroWebProEntities" connectionString="metadata=res://*/ModelAgroWebPro.csdl|res://*/ModelAgroWebPro.ssdl|res://*/ModelAgroWebPro.msl;provider=System.Data.SqlClient;provider connection string=&quot;workstation id=AgroWebPro.mssql.somee.com;packet size=4096;user id=AgroAdmin;pwd=123456789;data source=AgroWebPro.mssql.somee.com;persist security info=False;initial catalog=AgroWebPro;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>